
:root{
    --my-color: #a8c995;
    --my-color2: #ddccff;
    --my-color3: #ddccff;
    --my-color4: #ddccff;
    --my-color5: #ddccff;

}

.btn-primary{

    background-color: orange;
}


h1{
    color:orange !important;
}

.test{

    background-color: var(--my-color);
}